<!DOCTYPE html>
<html>
  <head>
    <title>Game Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0" />
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="index.css" type="text/css" />
  </head>
  <body>
    <div id="react"><%- reactComponent -%></div>
    <script>window.INITIAL_STATE=<%- initialState -%></script>
    <script src="bundle.js"></script>
  </body>
</html>
